@font-face {
  font-family: Raleway; /* set name */
  src: url(fonts/Raleway/Raleway-VariableFont_wght.ttf); /* url of the font */
}


html{
  width: 1440px;
  margin: auto;
}

* {
  font-family: Raleway; /* use font */
  margin-top: 0%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px 50px 50px;
  align-items: start;  
}

nav div a img{
  height: 19px;
}

nav div {
  margin-top: 30px;
}

nav menu {
  display: flex;
  gap: 68px;
  list-style: none;
  line-height: 100%;
}

nav menu li {
  padding-top: 14px;
  border-top: white 2px solid;
}

nav menu li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

nav menu li:hover {
  border-top: #0065FC 2px solid;
}

nav menu li a:hover {
  color: #0065FC;
}

main {
  margin: auto 50px;
}

h2 {
  font-weight: 700;
  font-size: 22px;
}

.gap8 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.gap8 h2{
  margin: 0%;
}

.rechercheForm {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

}

.rechercheForm  div:nth-child(1) {
  display: grid;
  grid-template-columns: auto;
  width: 50px;
  height: 50px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #F2F2F2;
}

.rechercheForm  div:nth-child(1) i {
  grid-area: 2 / 2 ;
}

.rechercheForm  div:nth-child(2) {
  height: 50px;
  display: flex;
}

.rechercheForm  div:nth-child(2) input::placeholder{
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.rechercheForm  div:nth-child(2) input{
  height: 46px;
  border: #F2F2F2 1px solid;
  padding-left: 25px;
  padding-right: 25px;
}

.rechercheForm  div:nth-child(2) button{
  height: 100%;
  border: #0065FC 0px solid;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #0065FC;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding-left: 15px;
  padding-right: 15px;

}

.filtres {
  display: flex;
  align-items: center;
  
}

.filtres ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

.filtres ul li {
  display: flex;
  border: #D9D9D9 2px solid;
  border-radius: 25px;
  height: 50px;
  align-items: center;
  padding-right: 19px;
  padding-left: 19px;
  justify-content: center;
  gap: 10px;

}

.filtres ul li i{
  color: #0065FC;
}

.filtres ul li:hover {
  background-color: #DEEBFF;
  cursor: pointer;
}

.info{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.info div{
  width: 24px;
  height: 24px;
  border: #D9D9D9 1px solid;
  border-radius: 50%;
  text-align: center;
}

.info div i{
  color: #0065FC;
  font-size: 10px;
}

.info p{
  text-align: center;
  margin: 10px;
}

.sectionHebergement {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.hebergementsMarseille{
  width: 65%;
}

.hebergementsMarseille a{
  text-decoration: none;
  color: black;
  font-weight: 700;
}


.lesPlusPopulaires{
  width: 30%;
  background-color: blue;
}

.lesPlusPopulaires, .hebergementsMarseille{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  background-color: #F2F2F2;
  border-radius: 15px;

}

.card {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 230px;
  padding: 5px;
  border-radius: 20px;
}

.card img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.cardContent{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 15px;
}

.cardContent *{
  margin: 0%;
}

.cardContainer{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.cardContainer-medium{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 5px 5px 15px;
}

.cardContainer-mediumTitle *{
  margin-bottom: 5px;
}

.star-rating{
  display: flex;
  flex-direction: row;
  color: #0065FC;
}

.card-medium {
  padding: 5px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  width: 369px;
}

.card-medium img {
  border-radius: 20px 0 0 20px;
  width: 110px;
  height: 141px;
  object-fit: cover;
}

.alignRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.alignRow i{
  color: #0065FC;
}

.sectionActivites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sectionActivites h2{
  width: 100%;
}

.bigCard {
  width: 297.5px;
  height: 439px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.bigCard img {
  width: 100%;
  height: calc(100% - 79px); /* 439 - (20+19+20+19 padding for h4) */
  object-fit: cover;
}

.bigCard h4 {
  padding: 20px 19px;
  background-color: #fff;
  box-shadow: 0px 3px 15px 0px #0000001A;
  border-radius: 0 0 20px 20px;
  flex-shrink: 0;
}

/* https://www.figma.com/design/r9YJyUkpVdrxzBBKGH7reY/Maquettes-Booki--desktop--mobile--tablette-?node-id=3-0&p=f  */