@font-face {
  font-family: Raleway; /* set name */
  src: url(fonts/Raleway/Raleway-VariableFont_wght.ttf); /* url of the font */
}

* {
  font-family: Raleway; /* use font */
  margin-top: 0%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px 50px 50px;
  align-items: start;  
}

nav div a img{
  height: 19px;
}

nav div {
  margin-top: 30px;
}

nav menu {
  display: flex;
  gap: 68px;
  list-style: none;
  line-height: 100%;
}

nav menu li {
  padding-top: 14px;
  border-top: white 2px solid;
}

nav menu li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

nav menu li:hover {
  border-top: #0065FC 2px solid;
}

nav menu li a:hover {
  color: #0065FC;
}

/* https://www.figma.com/design/r9YJyUkpVdrxzBBKGH7reY/Maquettes-Booki--desktop--mobile--tablette-?node-id=3-0&p=f */