@font-face {
  font-family: Raleway; /* set name */
  src: url(fonts/Raleway/Raleway-VariableFont_wght.ttf); /* url of the font */
}

* {
  font-family: Raleway; /* use font */
}

/* https://www.figma.com/design/r9YJyUkpVdrxzBBKGH7reY/Maquettes-Booki--desktop--mobile--tablette-?node-id=3-0&p=f */